/* Styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

a.active {
  color: orange;
}

nav {
  padding-top: 20px;
}

/*Quantas hotels styles*/

h4.hotel-name {
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

p.hotel-address {
  font-size: 0.875em;
  color: grey;
}

p.room-name {
  font-size: 0.875em;
  text-decoration: underline;
  color: red;
}

p.free-cancellation {
  font-size: 0.875em;
  color: green;
}

div.points-earned {
  text-align: right;
}

p.points-earned-title {
  font-size: 0.875em;
  color: orange;
  margin-top: 0px;
  margin-bottom: 0px;
}

p.points-earned {
  color: orange;
  font-weight: bold;
}

div.price {
  text-align: right;
}

p.total-nights {
  font-size: 0.875em;
  margin-top: 0px;
  margin-bottom: 0px;
}

p.price {
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 0px;
}

span.price {
  font-size: 0.5em;
}

p.savings {
  color: red;
}

.hotel-image {
  position: relative;
}

.hotel-promotion {
  position: absolute;
  top: 10px;
  left: 15px;
  background-color: white;
  color: red;
  font-size: 12px;
  font-weight: bold;
  padding: 3px;
}
